#my_Main_Header {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

#Apple_Header {
  font-family: "Times New Roman", Times, serif;
}

#Microsoft_Header {
  font-family: "Times New Roman", Times, serif;
}

#MacBook_Image {
  width: 250px; 
  height: 200px;
}

#Ipad_Image {
  width: 200px; 
  height: 200px;
}

#Iphone_Image {
  width: 200px; 
  height: 200px;
}

#Zenfone_9_Image {
  width: 190px; 
  height: 200px;
}

#raycon_image {
  width: 200px; 
  height: 200px;
}

p {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}